.logo{
  height: 60px;
  width: 300px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo___text{
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
